@use '../util' as u;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  background: var(--clr-light-pink);
  min-height: 100vh;
  display: grid;
  place-content: center;

  background-image: url('/img/background-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;

  @include u.breakpoint(large) {
    background-image: url('/img/background-pattern-desktop.svg');
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

footer {
  margin-top: 3rem;
}
